__pycache__/
*.pyc
.venv/
venv/
*.log
.DS_Store
Thumbs.db

# Base de datos y credenciales
.env
*.sql.user

# Power BI (Configuraciones de usuario y temporales)
*.pbix.user
*.pbit.user
*.pbix.datasources
